<div>
  <!-- add new habit form -->
  <form action="/new-habit" method="POST" class="new_habit_form">
    <div class="form-floating mb-3" id="input_container">
      <input
        class="form-control"
        id="floatingInput"
        type="text"
        name="content"
        placeholder="New Habit Name.."
        required
      />
      <label for="floatingInput">New Habit...</label>
    </div>
    <div>
      <input type="submit" class="btn btn-secondary btn-lg" value="Add Habit" />
    </div>
  </form>
</div>
