<html>
  <head>
    <title>Habit Tracker <%= title%> Page</title>
  </head>
  <body>
    <p><%= title%></p>
    <div>
      <form action="">
        <input type="text" />
        <input type="date" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
