<html>
  <head>
    <title>Habit Tracker <%= title%> Page</title>
  </head>
  <body>
    <header><p><%= title%></p></header>
    <div>
      <form action="">
        <input type="text" />
        <input type="submit" value="Add" />
      </form>
    </div>
    <footer></footer>
  </body>
</html>
