<html>
  <head>
    <title>Habit Tracker <%= title%> Page</title>
  </head>
  <body>
    <header><p><%= title%></p></header>
    <div>
      <form action="/new-habit" method="POST">
        <input
          type="text"
          name="content"
          placeholder="New Habit Name.."
          required
        />
        <input type="submit" value="Add Habit" />
      </form>
      
    </div>
    <div>
      <a href="/update-status/?id="></a>
    </div>
    <footer></footer>
  </body>
</html>
